<div class="background-container">
    <svg class="background background--layer1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
        <rect width="100%" height="100%" x="0" y="0" fill="url(#blocks)"/>
    </svg>
    <svg class="background background--layer2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
        <rect width="100%" height="100%" x="0" y="0" fill="url(#shards)"/>
    </svg>
</div>